* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #333333;
    background-color: rgb(240, 239, 238);
    flex-wrap: wrap;
}


/* Container */

.container {
    width: 100%;
}


/* Nav */

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: rgba(255, 134, 5, 0.7);
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav .logo {
    width: 25%;
}

.nav .logo a {
    text-decoration: none;
    color: red;
}

.nav .logo a h1 {
    font-size: 36px;
}

.nav .responsive-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.nav .responsive-nav .navbar {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav .responsive-nav .navbar li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #f4cb14;
    padding: 25px 30px;
    width: 100%;
    transition: all 0.3s linear;
}


/* .nav .responsive-nav .navbar li:hover a {
    background-color: #ec4747;
    color: #f2f2f2;
}
.nav .responsive-nav .navbar li:hover a {
    background-color: #ec4747;
    color: #f2f2f2;
} */

.nav .responsive-nav .navbar li a.active {
    background-color: #222222;
    color: #e0ef0c;
}

.nav .responsive-nav .navbar-right {
    display: flex;
    align-items: center;
}

.nav .responsive-nav .navbar-right .search-box {
    display: flex;
    align-items: center;
    width: 220px;
    border-radius: 50px;
    margin-right: 10px;
}

.nav .responsive-nav .navbar-right .search-box input {
    width: 80%;
    border: none;
    outline: none;
    padding: 10px 0;
    padding-left: 2%;
}

.nav .responsive-nav .navbar-right .search-box i {
    width: 20%;
    background-color: #2ecc71;
    border-left: 1px solid #000000;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
}

.nav .responsive-nav .navbar-right .user {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.hambugur {
    font-size: 30px;
    cursor: pointer;
    background-color: #e61212;
    color: #ffffff;
    padding: 10px 15px;
    animation: hambugur 1s linear infinite alternate;
    display: none;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(216, 25, 25, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(4, 96, 225);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: red;
}

.content__province {
    width: 100%;
    padding: 30px 50px;
}


/* Top Sight Cotent */

.top-sight-3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.top-sight-3 .top-sight-content {
    width: 100%;
    height: 780px;
    background-color: #d8d8d8;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 2px 0px 5px #333333;
    transition: all 0.1s linear;
}

.top-sight-3 .top-sight-content:hover {
    box-shadow: 0px 2px 5px #333333;
}

.top-sight-3 .top-sight-content img {
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}

.top-sight-3 .top-sight-content h2 {
    margin: 10px 0 0 0;
    font-size: 24px;
}

.top-sight-3 .top-sight-content .rate {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.top-sight-3 .top-sight-content .rate div {
    margin-right: 10px;
}

.top-sight-3 .top-sight-content .rate .rate-number {
    font-weight: bold;
}

.top-sight-3 .top-sight-content .desc {
    color: #585858;
    margin-bottom: 20px;
    text-align: justify;
}

.container-footer {
    max-width: 1170px;
    background-color: #03143e;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #03143e;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4 ::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding: 8px;
}

.footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-col .social-link a:hover {
    color: #000;
    background-color: #ffffff;
}

@keyframes hambugur {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@media(max-width:1280px) {
    .nav .logo {
        padding: 20px 0;
    }
    .nav .hambugur {
        display: block;
    }
    .nav .responsive-nav {
        flex-direction: column;
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        background-color: #333333;
        transition: all 0.5s linear;
    }
    .nav .responsive-nav.active {
        top: 7%;
    }
    .nav .navbar {
        flex-direction: column;
        width: 100%;
        display: block;
        text-align: center;
    }
    .nav .navbar-right {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .image-2 {
        width: 20px;
    }
    div#Container-image {
        border: 2px solid rgb(29, 29, 26);
        width: 500px;
        margin-top: 20px;
        margin-left: 20px;
        padding: 10px;
        padding-right: 20px;
        border-radius: 20px;
        float: right;
    }
}


/*---------------------------------------------------------------------------------------
Header menu-------------------------------*/

div#Container-image {
    border: 2px solid rgb(250, 154, 10);
    width: 333px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
    float: left;
    list-style-type: none;
}

div#Container-image li:hover {
    border: 1px solid greenyellow;
}

#Container-image ul li:hover {
    transform: scale(1);
}

.image-2 {
    width: 500px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 50px;
    float: left;
}